 #header{
	background: url("../images/header-bg.png") repeat-x scroll 0 0 #f3f3f3; */
	/*background-color:#FFC000;*/
	height:120px;
    }
 #nav{
	height: 70px;
	margin:0;
	padding: 6px 20px 0 15px;
	position: relative;
	margin-top: -60px;
}

 #nav ul{
	list-style: none;
	padding-top:12px;
}
#nav ul li.upp{
	display: inline;
	float: left;
	position: relative;
	margin: 0;
	text-align: center;
}

#nav ul li.upp a{
	color: #fff;
	display: block;
	padding: 0px 20px 11px 0px;
	text-align: center;
	text-shadow: #000 0px 1px 1px;
	font-size:17px;
	
}
#nav ul li.upp a:hover{
	color: #FFCC00;
	text-decoration:none;
}
#nav ul li.upp a .active{
	color: #29BC69;
	text-decoration:none;
}

#nav ul li.upp ul{
	display: none;
}
#nav ul li.upp:hover ul{
	background: #006ABC;
	border: 1px solid #58585a;
	border-top: none;
	display: block;
	position: absolute;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 9999;
}
#nav ul li.upp ul li{
	color: #fff;
	display: block;
	padding: 0 0 0 8px;	
	text-align: left;
	width: 204px;	

}
#nav ul li.upp ul li a{
	background: none;
	display: inline-block;
	padding: 6px 25px 6px 4px;
	color:#fff;
	font-size:13px;
}
#nav ul li.upp ul li a:hover{color:#fff;}
.help-img{
width:22px;
height:20px;
border:none;
}
#about-us-tbl table {
    border:1px solid #CCC;
    border-collapse:collapse;
	//color:none;
}
#about-us-tbl td{
    border:none;
}