* {
	margin: 0;
	padding: 0;
}
body{
	background: #f3f3f3 url(../images/bg_login_top.jpg) no-repeat top center;
	color: #bebebe;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}



button, .button{
	background: #c7c7c7;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font: 700 11px Tahoma, Arial, sans-serif;
	margin-right: 10px;
	padding: 7px 12px 7px 12px;
	position: relative;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;
}
button:hover, .button:hover{
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-right-color: #999999;
	border-top-color: #999999;
	color: #333333;
	text-decoration: none;
}

.wrap{
	margin: 0 auto;
	width: 400px;
}

#content{
	margin: 170px 0 10px 0;
}
#content .b1{
	background: #ffffff;
}
#content .b2{
	background: #eaeaea;
}
.logo{text-align:center; padding-bottom:10px;}


/* CONTENT MAIN START */

#content #main{
	float: right;
	margin: 0 0 12px 0;
	width: 400px;
	
}
#main .full_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	border-radius: 5px;
	-webkit-box-shadow:  2px 2px 0px 1px rgba(235, 235, 235, 1);
	-moz-box-shadow:  2px 2px 0px 1px rgba(235, 235, 235, 1);
	box-shadow:  2px 2px 0px 1px rgba(235, 235, 235, 1);
	color: #848484;
	margin: 0 0 5px 0;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

  /* IE 5-7 */
  filter: alpha(opacity=90);

  /* Netscape */
  -moz-opacity: 0.9;

  /* Safari 1.x */
  -khtml-opacity: 0.9;

  /* Good browsers */
  opacity: 0.9;
}

/* CONTENT MAIN FORM */



#main form{
	margin: 15px;
}

#main form label{
	color: #006E2F;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 0 3px;
}

#main form input{
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
}
#main form input:focus, #main form select:focus, #main form textarea:focus{	border: 1px solid #b3b3b3;}

#main form select{
	border: 1px solid #DDDDDD;
	border-radius: 3px;

}
#main form .text{
	margin: 0 0 12px 0;
	width: 98%;
}

#main form .ok{
	background: #c7c7c7 url(../images/i_ok.png) no-repeat 4px center;
	padding-left: 25px;
}

#main .footer{
	margin: 0 15px;
	text-align: center;
	color: #666666;
}
#main .footer a{
	color: #bebebe;
}

/* HELPERS START */

.entry{ color: #444; margin: 5px 0; padding: 5px 15px; text-shadow: 0px 1px #ffffff; }
.sep{ border-bottom: 1px dashed #DDDDDD; margin: 10px 0;}

.clear{ clear: both; }

.align-left{ text-align: left; }
.align-right{ text-align: right; }
